<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./public/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./public/assets/css/style.css">
    <script src="./public/assets/js/script.js" defer></script>
    <title>Codelp</title>
</head>
<body>
    <div class="container">
        <nav class="d-flex justify-content-between align-items-center p-1">Loading...</nav>
        <main class="p-1">Loading...</main>
        <footer class="d-flex justify-content-around align-items-center p-1">Loading...</footer>
    </div>
</body>
</html>